<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>city</key>
		<string>上海</string>
		<key>address</key>
		<array>
			<dict>
				<key>testID</key>
				<string>1000</string>
				<key>name</key>
				<string>驾驶理论徐汇支队大木桥路考场</string>
				<key>address</key>
				<string>徐汇区大木桥路434号1号楼</string>
			</dict>
			<dict>
				<key>testID</key>
				<string>1001</string>
				<key>name</key>
				<string>驾驶理论黄浦支队溪口考场</string>
				<key>address</key>
				<string>黄浦区细口路11号</string>
			</dict>
			<dict>
				<key>testID</key>
				<string>1002</string>
				<key>name</key>
				<string>驾驶理论长宁支队双流路考场</string>
				<key>address</key>
				<string>长宁区双流路98号</string>
			</dict>
			<dict>
				<key>testID</key>
				<string>1003</string>
				<key>name</key>
				<string>驾驶理论车管所沁春路考场</string>
				<key>address</key>
				<string>闵行区沁春路考场</string>
			</dict>
			<dict>
				<key>testID</key>
				<string>1004</string>
				<key>name</key>
				<string>驾驶理论杨浦支队宁国路考场</string>
				<key>address</key>
				<string>杨浦区宁国路58号</string>
			</dict>
			<dict>
				<key>testID</key>
				<string>1005</string>
				<key>name</key>
				<string>驾驶理论虹口支队车站南站考场</string>
				<key>address</key>
				<string>虹口区车站南站199号</string>
			</dict>
			<dict>
				<key>testID</key>
				<string>1006</string>
				<key>name</key>
				<string>驾驶理论静安支队万荣一路考场</string>
				<key>address</key>
				<string>静安区万荣一路40号</string>
			</dict>
			<dict>
				<key>testID</key>
				<string>1007</string>
				<key>name</key>
				<string>驾驶理论车管所沪南公路考场</string>
				<key>address</key>
				<string>浦东新区沪南路4777号</string>
			</dict>
			<dict>
				<key>testID</key>
				<string>1008</string>
				<key>name</key>
				<string>驾驶理论宝山支队眉浦路考场</string>
				<key>address</key>
				<string>宝山路眉浦路331号</string>
			</dict>
			<dict>
				<key>testID</key>
				<string>1009</string>
				<key>name</key>
				<string>驾驶理论奉贤支队海兴路考场</string>
				<key>address</key>
				<string>奉贤区海兴路518号</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>city</key>
		<string>北京</string>
		<key>address</key>
		<array>
			<dict>
				<key>testID</key>
				<string>2000</string>
				<key>name</key>
				<string>程顺理论考场</string>
				<key>address</key>
				<string>大兴区黄村镇庆丰路12号</string>
			</dict>
			<dict>
				<key>testID</key>
				<string>2001</string>
				<key>name</key>
				<string>京通联合理论考场</string>
				<key>address</key>
				<string>通州区宋庄镇师姑庄300米</string>
			</dict>
			<dict>
				<key>testID</key>
				<string>2002</string>
				<key>name</key>
				<string>佳乐理论考场</string>
				<key>address</key>
				<string>丰台区大红门南路149号</string>
			</dict>
			<dict>
				<key>testID</key>
				<string>2003</string>
				<key>name</key>
				<string>车辆管理所涉外管理科</string>
				<key>address</key>
				<string>朝阳区南四环东路18号</string>
			</dict>
			<dict>
				<key>testID</key>
				<string>2004</string>
				<key>name</key>
				<string>总所理论考场</string>
				<key>address</key>
				<string>朝阳区南四环东路18号</string>
			</dict>
			<dict>
				<key>testID</key>
				<string>2005</string>
				<key>name</key>
				<string>盛华理论考场</string>
				<key>address</key>
				<string>朝阳区王四营乡</string>
			</dict>
			<dict>
				<key>testID</key>
				<string>2006</string>
				<key>name</key>
				<string>公交考试训练分场</string>
				<key>address</key>
				<string>大兴区黄村镇护球路北口</string>
			</dict>
			<dict>
				<key>testID</key>
				<string>2007</string>
				<key>name</key>
				<string>京东理论考场</string>
				<key>address</key>
				<string>通州区永顺镇苏坨村南</string>
			</dict>
			<dict>
				<key>testID</key>
				<string>2008</string>
				<key>name</key>
				<string>车辆管理所京南分所</string>
				<key>address</key>
				<string>大兴区黄村镇芦花路28号</string>
			</dict>
			<dict>
				<key>testID</key>
				<string>2009</string>
				<key>name</key>
				<string>玉山理论考场</string>
				<key>address</key>
				<string>房山区玉山汽车驾驶学校北</string>
			</dict>
			<dict>
				<key>testID</key>
				<string>2010</string>
				<key>name</key>
				<string>凯特考试场</string>
				<key>address</key>
				<string>丰台区看丹南路</string>
			</dict>
			<dict>
				<key>testID</key>
				<string>2011</string>
				<key>name</key>
				<string>平谷理论考场</string>
				<key>address</key>
				<string>平谷区贾各庄南街10号</string>
			</dict>
			<dict>
				<key>testID</key>
				<string>2012</string>
				<key>name</key>
				<string>丰顺考试场</string>
				<key>address</key>
				<string>丰台区西三环南路西局168号</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
