<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>[t0]科目一考试流程&lt;&gt;
[t1]科目一是学员考驾照的第一个项目，理论考试，但是很多人没有经验，不知道考试流程是怎么样~驾考通和大家讲一讲科目一的整体流程，看完这些，你是不是就心里有数了，下面为大家一一分析：&lt;&gt;
[i]1、考试顺序&lt;&gt;
[c]科目一理论考试大家需要提前预约，然后预约上了以后，自行去当地的车管所参加考试，前提半小时到考试地点，等候考试，候考室会有考试监督员给大家讲解考试要求还有注意事项，当然，最重要的一点是，科目一考试是需要交纳一定考试费用的，注意部分地区的车管所只收现金哦~排队考试，叫到你的名字就可以进去考试啦。&lt;&gt;
[i]2、答题注意事项&lt;&gt;
[c]很多考场的机子比较老旧，可能鼠标点了反应比较慢，但是不要重复点哦，考试是不能返回上一题的，考完一题直接系统会直接判断对错，考试时间充足，要细心。在考试界面右侧有你100道题的选项结果。比如你第一题选择对，那么在右侧第一题处就会出现一个对号，选择错号的话也是一样的，并不是题做错了哦！&lt;&gt;
[i]3、考试心态&lt;&gt;
[c]很多小伙伴一听到考试就不由自主的有压力了，平时手机上模拟考试也考的不是很好，90分左右，生怕自己考不过，愁得不行，驾考部落小编告诉你：其实不用紧张，根据大部分学员的反馈，考试难度要比平时的模拟简单多了，很多都是生活常识，放心大胆的去考试，只要细心，不乱选，基本上都能过。&lt;&gt;</string>
	<string>[t0]【驾考刷题】科目一快速背题口诀，帮你节省复习时间&lt;&gt;
[t1]对很多人来说，学车不是难在实操项目上，而是难在科一科四理论学习上。在车上是车神，理论考试就成了“文盲”。尤其是赶时间的学员，根本没时间刷1000多道题。如果你打算在这个夏天尽快拿到驾照，驾考通整理好了一份科目一快速背题口诀，刷不完题目也不怕，背好口诀，轻松通关。&lt;&gt;
[i]一、科一必知&lt;&gt;
[c]进入考场前所有人在候考大厅里等，看到屏幕上出现自己的名字，就到考场入口前排队。把身份证等证件材料准备好，不要交头接耳。进入考场后，找到自己位置坐下，不要左右张望。考官说开始答题才能答，记得别跳题漏题，切下一题前仔细检查答案，切换了就不能改了。&lt;&gt;
[i]二、科一背题口诀&lt;&gt;
[c]1、直接看对、错&lt;&gt;
[c]题目中有这些字的，都是正确的：不准、不得、不能、不要、停车礼让、减速礼让、减速避让、排队等候、保护现场、靠右行驶；&lt;&gt;
[c]题目中有这些字的，都是错误的：加速、不必、不用、空挡滑行、紧急制动、不予避让、马上。&lt;&gt;
[c]2、超车禁忌&lt;&gt;
[c]遇到这些车，不能超车：救护车、消防车、正在执行紧急任务的警车、工程救险车；&lt;&gt;
[c]这些路段内，不能超车：人行道、窄路、弯道、窄桥、铁路道口、隧道。&lt;&gt;
[c]3、停车距离&lt;&gt;
[c]30米内不能停车：公交站、加油站、消防栓、急救站、消防队门口；&lt;&gt;
[c]50米内不能停车：铁路道口、陡坡、窄路、隧道、弯道、桥梁、交叉路口。&lt;&gt;
[c]4、让行规则大全&lt;&gt;
[c]转弯让直行，右转让左转，靠山的让不靠山的，下坡让上坡（但下坡行至中途，下坡先行），其他车让公交车/校车/警车/救护车/消防车，环形路，进入的让出去的，有障碍的让无障碍的，有让路条件的让无让路条件的。&lt;&gt;
[c]5、警告标志放置距离&lt;&gt;
[c]普通路段：50-100米；高速路：150米以外。&lt;&gt;
[c]6、高速雾天跟车&lt;&gt;
[c]能见度小于200米：开启雾灯、近光灯、示廓灯和后位灯，车速小于60km/h，跟车距离100米以上。&lt;&gt;
[c]能见度小于100米：开启雾灯、近光灯、示廓灯、前后位灯和危险报警闪光灯，车速小于40km/h，跟车距离50米以上。&lt;&gt;
[c]能见度小于50米：开启雾灯、近光灯、示廓灯、前后位灯和危险报警闪光灯，车速小于20km/h，尽快驶离高速。&lt;&gt;
[c]7、一般限速&lt;&gt;
[c]8、驾照扣分&lt;&gt;
[c]扣1分情形：上路汽车未放置保险标志，未随车携带驾照行驶证；不按规定用灯光；不按规定会车倒车。&lt;&gt;
[c]扣2分情形：连续驾车超4小时未休息，或休息少于20分钟；在高速匝道、加速车道后减速车道上超车；驾车打电话、看电视；违反交通标志行车；实习期开公交车、营运客车、牵引挂车；实习期开警车、消防车、救护车、工程救险车；实习期开载有爆炸品、易燃易爆品、危险品的车；不按规定开过交叉路口；不按规定在没有中心线的路上开车。&lt;&gt;
[c]扣3分情形：发生故障停车，不按规定用灯光或设置警告标志；违反信号灯；高速上低于最低车速；高速低能见度不按规定行车；开着禁止驶入高速的车却进入高速；不悬挂汽车号牌；故意遮挡、污损、不按规定安装号牌；高速违规拖曳故障车、肇事车；高速上骑、轧车道分界线。&lt;&gt;
[c]扣6分情形：酒后开车；超速50%；高速上练车；高速不按规定停车。&lt;&gt;
[c]扣12分情形：醉酒驾车；驾照暂扣还开车；交通事故逃逸，不构成犯罪；用别人驾照开车；开与准假车型不符的车；超过3个月不交罚款或连续2次超期不交罚款；违反交通管制强行通行。&lt;&gt;
[c]9、交警手势&lt;&gt;
[c]交警正面看你左手平举--停车；正面看你右手平举上下摆动--减速慢行；交警脸转左侧看你--左转弯；交警脸转右侧看你--右转弯；交警脸看左右车道不看你时--停车等待；交警脸看左边车道且左手上下摆动--左转弯待转。&lt;&gt;</string>
	<string>[t0]科一如何考过90分？答题技巧要总结！&lt;&gt;
[t0]科目一有一千多题，要全部背熟很困难，但其实有不少题都是常识性的，比如红绿灯通行…都是不需要记忆的。而剩下的题目，也有特定的规律。&lt;&gt;
[i]一、关于驾驶问题&lt;&gt;
[c]1、礼让：转弯让直行、右转让左转、无信号灯让右；&lt;&gt;
[c]2、禁停：站3口5，即公交车站、加油站等30米内禁停，叉路口、隧道口等50米内禁停；&lt;&gt;
[c]3、紧急：一切过激，如急踩刹车、急踩油门、急转方向等均是错的，例外：高速公路上要发生撞车事故时采取紧急制动；&lt;&gt;
[c]4、救人：抢救伤员，先救人；救人，先止血。&lt;&gt;
[i]二、关于违章处罚&lt;&gt;
[c]有警告选警告，没有警告的：&lt;&gt;
[c]1、扣车：与车有关或伪造证件/号牌、无牌无行驶证、无证驾驶、扣满12分等；&lt;&gt;
[c]2、吊销：超速50%，借车给无证或驾驶证无效（吊销或暂扣）之人，非法改装、报废、无理由逾期不接受处理的；&lt;&gt;
[c]3、拘留15天及以下：无证、驾驶证无效（吊销或暂扣）、交通事故逃逸但不犯罪；&lt;&gt;
[c]4、有期徒刑：交通肇事，3年以下或拘役；肇事逃逸或恶劣情节，3-7年；逃逸致死，7-15年。&lt;&gt;
[c]注意：扣车和吊销驾照的证件区别，扣车是行驶证，吊销是驾驶证。&lt;&gt;
[i]三、关于违章记分&lt;&gt;
[c]1、记1分：未放保险标志、未带证、未按规定用灯光、会车等；&lt;&gt;
[c]2、记3分：超速20%以内、未定期检查、不减速避让行人等；&lt;&gt;
[c]3、记6分：超速20%-50%以内、违反信号灯、不避让、违反占用应急车道等；&lt;&gt;
[c]4、记12分：酒后驾驶、超速50%以上、伪造、与证有关的等。&lt;&gt;
[c]注意：吊销驾驶证后，重新申请间隔时间：吊（吊销）二撤（撤销）三醉（醉驾）五逃（逃逸）终生；&lt;&gt;
[i]四、关于违章罚款&lt;&gt;
[c]1、20-200元：违规停车、未放保险标志；&lt;&gt;
[c]2、200元-2000元：与证件有关的、逃逸不犯罪的、超速50%以上、造成不良影响的行为；&lt;&gt;
[c]3、1000元-2000元：酒后驾驶；&lt;&gt;
[c]4、2000元-5000元：使用其他车辆的证件、牌号及标志；看见伪造、变造二字。&lt;&gt;
[c]注意：20-200元(可以和警告同时处罚)，200-2000元(可以和扣车同时处罚)。&lt;&gt;</string>
	<string>[t0]驾考刷题必考的6道题，搞清楚，科目一考试不犯愁！&lt;&gt;
[t1]很多人在面对科目一考试时心里都没底，可能是对于考试的紧张，也可能是对题库、知识点的不熟悉。今天小编为大家整理了科目一99%会考到的六道题，这六个问题搞清楚，科目一考试时肯定不犯愁，驾考刷题指南！&lt;&gt;
[ti]1、湿滑路面制动过程中，发现车辆偏离方向，以下做法正确的是？&lt;&gt;
[c]A、连续轻踩轻放制动踏板&lt;&gt;
[c]B、用力踩制动踏板&lt;&gt;
[c]C、不要踩制动踏板&lt;&gt;
[c]D、任意踩制动踏板&lt;&gt;
[c]答案：C&lt;&gt;
[c]解析：在湿滑路面制动过程中，如果踩制动踏板，很容易引起侧翻，非常危险！具体情况分析如下： 1、要是后轮一直被刹住，不松开踏板，汽车会出现甩尾现象 。2、要是前轮一直被刹住，不松开踏板，汽车会出现方向失去控制。 湿滑路面制动的正确的做法是先握紧方向盘，不要踩刹车制动。符合要求的只有C，因此本题选C。&lt;&gt;
[i]2、驾驶小型载客汽车在高速公路上时速低于100公里时的最小跟车距离是多少？&lt;&gt;
[c]A、不得少于50米&lt;&gt;
[c]B、不得少于30米&lt;&gt;
[c]C、不得少于20米&lt;&gt;
[c]D、不得少于10米&lt;&gt;
[c]答案：A&lt;&gt;
[c]解析：根据《中华人民共和国道路交通安全法实施条例》第八十条 机动车在高速公路上行驶，车速超过每小时100公里时，应当与同车道前车保持100米以上的距离，车速低于每小时100公里时，与同车道前车距离可以适当缩短，但最小距离不得少于50米。&lt;&gt;
[i]3、（判断题）驾驶机动车超车后立即开启右转向灯驶回原车道。&lt;&gt;
[c]答案：错&lt;&gt;
[c]解析：这个其实是安全常识，首先看到“立即”这个词，大家就应该要警惕了，这是错误答案的关键词。&lt;&gt;
[c]其次，刚刚完成超车，此时被超车辆与你距离太近，如果立即驶回原车道，势必会和被超车辆相撞，所以一定要在超车后，与被超车辆拉开一定安全距离后，才能开启右转向灯，驶回原车道。&lt;&gt;
[i]4、准驾车型为小型汽车的，可以驾驶下列哪种车辆？&lt;&gt;
[c]A、低速载货汽车&lt;&gt;
[c]B、中型客车&lt;&gt;
[c]C、三轮摩托车&lt;&gt;
[c]D、轮式自行机械&lt;&gt;
[c]答案：A&lt;&gt;
[c]解析：小型汽车（C1）准驾车型：小型、微型载客汽车、低速载货汽车、三轮汽车。&lt;&gt;
[c]但是不能驾驶残疾人专用小型自动挡载客汽车。&lt;&gt;
[c]这道题比较坑的是选项C的三轮摩托车，容易和三轮汽车混淆，大家千万要看清题目！&lt;&gt;
[i]5、申请人以欺骗、贿赂等不正当手段取得机动车驾驶证的（被撤销的），申请人在多长时间内不得再次申领机动车驾驶证。&lt;&gt;
[c]A、6个月&lt;&gt;
[c]B、1年&lt;&gt;
[c]C、2年&lt;&gt;
[c]D、3年&lt;&gt;
[c]答案：D&lt;&gt;
[c]解析：根据《道路交通安全法》第七十八条：&lt;&gt;
[c]（一）隐瞒有关情况或者提供虚假材料申领机动车驾驶证的，申请人在一年内不得再次申领机动车驾驶证。&lt;&gt;
[c]（二）申请人在考试过程中有贿赂、舞弊行为的，取消考试资格，已经通过考试的其他科目成绩无效；申请人在一年内不得再次申领机动车驾驶证。&lt;&gt;
[c]（三）申请人以欺骗、贿赂等不正当手段取得机动车驾驶证的，公安机关交通管理部门收缴机动车驾驶证，撤销机动车驾驶许可；申请人在三年内不得再次申领机动车驾驶证。&lt;&gt;
[c]还有一个记时间的口诀：假一吊二撤三醉五逃终生。&lt;&gt;
[i]6、驾驶人违反交通运输管理法规发生重大事故致人死亡且逃逸的，处多少年有期徒刑？&lt;&gt;
[c]A、7年以上&lt;&gt;
[c]B、3年以下&lt;&gt;
[c]C、3年以上7年以下&lt;&gt;
[c]D、10年以上&lt;&gt;
[c]答案：C&lt;&gt;
[c]解析：&lt;&gt;
[c]这类题目的判断关键有2个：（1）是否逃逸；（2）逃逸时是否致人死亡。&lt;&gt;
[c]未逃逸者：3年以下；情节严重并逃逸者：3-7年；因逃逸致人死亡者：7年以上。&lt;&gt;
[c]做错的学员，应该是把“致人死亡且逃逸的”和“因逃逸而致人死亡的”混淆了。&lt;&gt;</string>
	<string>[t0]科目一考试还没准备好？这里有一份答题口诀巧记！&lt;&gt;
[t1]科目一，掌握规律，不用背题也会做&lt;&gt;
[t1]有人说：科目一不难，因为后面还有科目二科目三科目四在等你......&lt;&gt;
[t2]经历过驾考的人应该都懂得，但对于刚刚报考的学员来说，科目一简直是一座大山把他们拦在了驾考大门之外...&lt;&gt;
[t2]面对这1000多道题，不掌握点小技巧还真是会崩溃。驾考通深知大家的不容易，总结了五条规律分享给正在学车的朋友们！&lt;&gt;
[i]题目里有“口”的选50米，有“站”的选30米，叫“口五站三。&quot; 剩下的全选150米，没有150米的选最大。判断题全对。&lt;&gt;
[i]有关公里的题：城市街道选50公里，其余有30的全选30。 高速最高120，高速最低60。判断题全对。&lt;&gt;
[i]伤员急救知识题：选择题A、B、C中选字最多的。判断题只有“远心端”和“软质担架”是错的，其余都是对的。&lt;&gt;
[i]危险知识题：题目里有“不需要” “不受” “可以” “三层” “坚固无损” 是错的，其余都是对的。&lt;&gt;
[i]扣分题：“未带证件”判断题：有 “灯光” 和 “倒车” 是对的，其余全错。&lt;&gt;
</string>
	<string>[t0]科目一不想狂做题？5分钟看完这篇答题技巧，简单好记！&lt;&gt;
[t1]科一满分捷径，速速收好口诀，过关就靠它&lt;&gt;
[i]1、二吊三撤五醉逃终身。&lt;&gt;
[i]2、转弯过桥上窄道泥路30km/h。&lt;&gt;
[i]3、左右观察左超车。&lt;&gt;
[i]4、交叉转弯窄路隧道桥梁坡道铁路口50米内不停车。&lt;&gt;
[i]5、驾驶证到期90天，变更30天内换。&lt;&gt;
[i]6、转弯的机动车让直行的车辆先行，右方道路来车先行，右转弯车让左转弯车先行。&lt;&gt;
[i]7、驾驶证的有效期为6年，没有扣分记录的第二次换证的为10年。&lt;&gt;
[i]8、机动车没有违规行为，只有违法行为。&lt;&gt;
[i]9、交警手势大于交通信号灯。&lt;&gt;
[i]10、高速路同向有2条车道，右道的速度范围为60-100km/h，左道的速度范围100-120km/h。如同方向有3条车道，右道的速度范围为60-90km/h，中间的90-110km/h，左道110-120km/h。&lt;&gt;
[i]11、有嫌疑的或未放置检验合格标志，未悬挂机动车号牌，未放置保险标志的，未携带机动车行驶证的都是可依法扣留车辆的。&lt;&gt;
[i]12、驾驶证遗失、损毁无法辨认时核发地车辆管理所申请补发。&lt;&gt;
[i]13、车速超过每小时100km/h，应当与同车道前车保持100米以上的距离，低于100的，不得少于50米。&lt;&gt;
[i]14、连续驾驶机动车超过4小时应停车休息，停车休息时间不少于20分钟。&lt;&gt;
[i]15、造成事故致人重伤但没死的处3年以下，造成事故致死的处3-7年，造成事故逃逸后致死的处罚7-15年 。&lt;&gt;
[i]16、小型汽车（C1）准驾车型：小型、微型载客汽车以及轻型、微型载货汽车；轻型、微型专项作业车，小型、微型自动挡载客汽车以及轻型、微型自动挡载货车，低速载货汽车，三轮汽车。&lt;&gt;
[i]17、交通信号包括交通信号灯、交通标志、交通标线和交通警察的指挥。&lt;&gt;
[i]18、在狭窄的坡路，上坡的一方先行；但下坡的一方已行至中途而上坡的一方未上坡时，下坡的一方先行。&lt;&gt;
[i]19、用伪造、变造机动车号牌、行驶证、驾驶证或者使用其他机动车号牌、行驶证的，一次扣12分。&lt;&gt;
[i]20、在行驶中被查获有吸毒注射毒品，在戒毒还没有成功的，注销驾驶证。&lt;&gt;
[i]21、被查三年内又重新吸毒，注射毒品者或戒毒未满三年，又吸毒成瘾者，不得申请驾驶证。&lt;&gt;
[i]22、未随车携带机动车行驶证的，交通警察可依法扣留机动车。&lt;&gt;
[i]23、只有在没有路灯或者没有照明的情况下才能用远光灯。&lt;&gt;
[i]24、200米能见度，最高速60，车距100；100米能见度，最高车速40，车距50，能见度50米，车速20，尽快离开高速路。&lt;&gt;
[i]25、无证驾驶就是你全责，属于犯法行为。&lt;&gt;
[i]26、不能超车的有对面来会车的，在执行紧急任务的警车、消防车、救护车、工程救险车的，道口、交叉路口、窄桥、弯道、陡坡、隧道、人行横道、市区交通流量大的路段。&lt;&gt;
[i]27、机动车驾驶人因服兵役、出国（境）等原因，无法在规定时间内办理驾驶证期满换证，延期期限最长不超过三年。&lt;&gt;
[i]28、超过60岁就需要每年提交一次身体检查证明。&lt;&gt;
[i]29、扣6分情况有，闯红灯，不避让校车，占用应急车道，驾驶证被扣后继续驾驶的。&lt;&gt;
[i]30、红圈白底黑字为最高速度，蓝底白字为最低速度。&lt;&gt;
[t1]记下这30条，你离科目一及格已经成功了一半，剩下的指示标志、交通手势什么的不就和小时候的看图写字一样easy？&lt;&gt;</string>
	<string>[t0]如何快速学习和记忆科目一理论考试？&lt;&gt;
[t1]科目一是学车考试的第一关，面对如此庞大的题库，口诀往往是帮助记忆的不二法宝。&lt;&gt;
[t2]如何快速学习和记忆科目一理论考试？今天为大家送上这些经典的记忆口诀！&lt;&gt;
[i]会车&lt;&gt;
[c]机动车跟非机动车在窄桥上会车，机动车减速靠右通过；右转弯让左转弯的车先行；下坡车让上坡车先行；非公交车让公交车先行；环型路口进口让出口先行；有障碍让无障碍先行；有让路条件让无让路条件先行。&lt;&gt;
[i]灯光&lt;&gt;
[c]打左转灯：向左转弯、向左变道、起步、驶离停车地点、调头。&lt;&gt;
[c]打右转灯：向右转弯、向右变道、靠边停车。&lt;&gt;
[c]夜间行车，路灯照明好，开近光灯；光线昏暗，可以开远光灯；夜间超车变换远近光灯；临时停车时开示廓灯和尾灯；雾天时开雾灯和报闪灯；进入环形路口不要开转向灯光，出环形路口时开右转向灯。&lt;&gt;
[i]新手上路&lt;&gt;
[c]正确：实习期间须悬挂实习示意牌。&lt;&gt;
[c]错误：单独驾驶上高速；驾驶牵引车辆；驾驶特种和危险品车辆；单独驾驶大客车和挂车。&lt;&gt;
[i]车辆证件&lt;&gt;
[c]（1）购置新车上路行驶前必须公安机关交通管理部门办理登记手续，领取号牌，行驶证。&lt;&gt;
[c]（2）车辆牌照应安装在车辆的指定位置，并且保持清晰。&lt;&gt;
[c]（3）要定期对车辆进行安全技术检验。&lt;&gt;
[c]（4）机动车号牌和行驶证不准转借、涂改、伪造。&lt;&gt;
[i]（5）达到报废的车辆要注销登记。&lt;&gt;
[i]答题口诀&lt;&gt;
[c]（1）安全原则：怎么做安全就怎么做，遇到题目中有安全两个字的判断题正常都对。&lt;&gt;
[c]（2）能让行的都让行，能帮助的都帮助，能避让就避让，只要不抢、不急都对。选择题也同样。&lt;&gt;
[c]（3）选择题中遇到行车速度问的：没有限速标志、标线的情况下，没有道路中心线的城市道路最高时速为30，公路则40；没有限速标志、标线的情况下，只有一条机动车道的，城市道路50，公路70。&lt;&gt;
[c]（4）遇到答案中有“扣留该机动车”这六个字的，都是正确答案。&lt;&gt;
[c]（5）放警告标志，只有两种距离，普通路50-100米，高速公路150米。&lt;&gt;
[c]（6）判断题中，遇到紧急情况所有过激行为都错，比如急踩(用力踏)油门(制动)，急转方向。&lt;&gt;
[c]（7）抢救伤员一个原则先救人，救人一个原则先止血。&lt;&gt;
[c]（8）罚款的问题，答案中基本上没有20-200元和200元-2000元同时存在的，而且通常看到这两个有一个存在的就是答案。&lt;&gt;</string>
	<string>[t0]科目一“懒人”记忆法，答题技巧归纳，轻松记忆少做300题！&lt;&gt;
[t1]给大家奉上驾考刷题科目一考试技巧大全，看一次就不用怕这些套路啦！&lt;&gt;

[t2]汽车的普及率越来越高，驾驶证成了工作生活中必不可少的一项技能，科目一是获得驾驶证的第一关，很多做过科目一试题的小伙伴们都深深的感觉到了出题者的套路！一个不小心就掉进去了！所以小编今天给大家奉上科目一考试技巧大全，看一次就不用怕这些套路啦！&lt;&gt;
[i]交规相关答题技巧&lt;&gt;
[c]1 答题只有一个原则——安全，怎么做安全就怎么做。&lt;&gt;
[c]2 判断题中遇到紧急情况所有过激行为都错，比如急踩（用力踏）油门（制动），急转方向，选择题中类似的答案都错。&lt;&gt;
[c]3 能让行的都让行，能帮助的都帮助，能避让就避让，只要不抢、不急都对。&lt;&gt;
[c]4 抢救伤员一个原则先救人，救人一个原则先止血。&lt;&gt;
[c]5 无标志无灯无警路口，按照让右路——让左转——让直行的顺序判断。&lt;&gt;
[c]6 车辆变换位置都要开转向灯，唯一一个不开的就是进环岛（转盘）。&lt;&gt;
[i]八种交警手势信号答题技巧&lt;&gt;
[c]1 停止信号：左臂由前向上直伸，掌心向前；&lt;&gt;
[c]2 直行信号：两手平伸右手摆；&lt;&gt;
[c]3 左转弯信号：右臂向前平伸，左手向右摆动；&lt;&gt;
[c]4 右转弯信号：左臂向前平伸，右手向左摆动；&lt;&gt;
[c]5 左转弯待转信号：左臂向左平伸成45度，上下摆动；&lt;&gt;
[c]6 变道信号：右臂向前平伸，掌心向左，右臂向左水平摆动；&lt;&gt;
[c]7 减速慢行信号：右臂向右前方平伸，掌心向下，平直向下摆动；&lt;&gt;
[c]8 示意车辆靠边停车信号：左臂由前向上直伸，掌心向前，右臂向前摆动。&lt;&gt;
[i]处罚相关答题技巧&lt;&gt;
[c]1 扣留机动车：未悬挂车牌、检验合格标志、保险标志；未携带行驶证、伪造相关证件或使用其他车辆证件；在一个计分周期达到12分。&lt;&gt;
[c]2 警告：不按规定挂号牌。&lt;&gt;
[c]3 拘留15天：未有有效驾驶证（被吊销、被暂扣等）、造成交通事故后逃逸但不构成犯罪（逃逸吊销，终身不能重新取得）。&lt;&gt;
[c]4 吊销：将车给没有驾驶资格的人、超速50%、非法改装车辆、报废、无正当理由逾期不接受处理。&lt;&gt;
[c]5 有期徒刑：犯交通肇事罪的，处3年以下有期徒刑或者拘役；因交通事故逃逸致人死亡的，处7年以上15年以下。&lt;&gt;
[i]最低最高时速答题技巧&lt;&gt;
[c]【普通公路】&lt;&gt;
[c]1 在没有限速标志、标线的道路情况下的最高时速:没有道路中心线的城市道路为30公里，公路为40公里；同方向只有一条机动车道的城市道路为50公里，公路为70公里。&lt;&gt;
[c]2 遇雾、雨、雪、沙尘、冰雹，能见度在50米以内时，最高时速30公里。&lt;&gt;
[c]3 掉头、转弯、下陡坡时，最高时速30公里。&lt;&gt;
[c]4 在冰雪、泥泞的道路上行使时，最高时速30公里。&lt;&gt;
[c]5 牵引发生故障的机动车时，最高时速30公里。&lt;&gt;
[c]6 进出非机动车道，通过铁路道口、急转弯、窄路、窄桥时，最高时速30公里。&lt;&gt;
[c]【高速公路】&lt;&gt;
[c]1 正常行驶，最低时速60公里，最高时速120公里。&lt;&gt;
[c]2 当同前车保持100米安全距离时，最高时速100公里。&lt;&gt;
[c]3 同向2车道的最低时速为：左侧车道100公里。&lt;&gt;
[c]4 同向3车道的最低时速为：左侧车道110公里；中间车道90公里；右侧车道60公里。&lt;&gt;
[c]5 能见度小于50米，在开启雾灯、近光灯、示廓灯、前后位灯、危险报警闪光灯时，最高车速20公里，并从最近的出口尽快驶离高速公路。&lt;&gt;
[c]6 能见度小于100米，在开启雾灯、近光灯、示廓灯、前后位灯、危险报警闪光灯时，最高车速40公里，与同车道前车保持50米以上的距离。&lt;&gt;
[c]7 能见度小于200米，在开启雾灯、近光灯、示廓灯、前后位灯，最高车速60公里，与同车道前车保持100米以上的距离。&lt;&gt;
[i]安全距离答题技巧&lt;&gt;
[c]【普通公路】&lt;&gt;
[c]1 白天或夜间在公路上发生故障时，设警告标志位置为车后50～100米处。&lt;&gt;
[c]2 使用软连接牵引装置时，两车之间的距离大于4米小于10米。&lt;&gt;
[c]3 夜间会车时，在距离150米以外改用近光灯。&lt;&gt;
[c]4 在交叉路口、急弯路、窄桥、桥梁、陡坡、铁道路口、隧道，50米以内不得停车。&lt;&gt;
[c]5 在公交汽车站、急救站、加油站、消防队（站），30米以内不得停车。&lt;&gt;
[c]【高速公路】&lt;&gt;
[c]1 高速公路上发生故障时，设警告标志位置为车后150米以外。&lt;&gt;
[c]2 时速超过100公里时，需保持100米以上的安全距离。&lt;&gt;
[c]3 时速低于100公里时，需保持50米以上的安全距离。&lt;&gt;
[c]4 车速为100公里时，最小横向间距为1.5米；安全距离为100米；危险车间距为50米。&lt;&gt;
[c]5 驶离高速公路最佳时机，离出口500米处。&lt;&gt;</string>
	<string>[t0]科目一背题有窍门！记牢关键词，教练也服气&lt;&gt;
[t1]科目一掌握简单的答题规则，一眼就能看出答案，非常容易。&lt;&gt;
[t2]科目一全国题库1325道，对不少学员来说这是一个“天文数字”。但其实，很多题目都是常识题，掌握简单的答题规则，一眼就能看出答案，非常容易。&lt;&gt;
[i]看关键字知答案&lt;&gt;
[c]1、让行题：转弯让直行；右转让左转；安全让危险；有障碍让无障碍；下坡让上坡，但下坡行至中途，而上坡未上坡道时，下坡先行。&lt;&gt;
[c]2、判为正确的题&lt;&gt;
[c]1）安全谨慎：确保安全、安全行驶、安全通过、间断轻踏&lt;&gt;
[c]2）文明礼让：减速让行、停车让行、靠边让行、礼让通过、减速避让&lt;&gt;
[c]3）慢行：降低车速、减速、缓慢通过、逐渐降低车速、平稳通过&lt;&gt;
[c]4）充分观察：提前瞭望、仔细观察、谨慎观察、提前确认&lt;&gt;
[c]5）不准做：不能、不得、不可以、不允许、不可、禁止、严禁&lt;&gt;
[c]3、判为错误的题&lt;&gt;
[c]1）不停顿礼让的：直接通过、不减速、加速通过&lt;&gt;
[c]2）操作不当的：紧急制动、急踩刹车、急打方向、猛打方向&lt;&gt;
[i]常考车速题&lt;&gt;
[c]1、普通公路&lt;&gt;
[c]2、高速公路&lt;&gt;
[c]1）最高车速：120&lt;&gt;
[c]2）最低车速：同向2车道（左/右）→100/60；同向3车道（左/中/右）→110/90/60；同向4车道（左/中1/中2/右）→110/90/90/60。

[i]距离题大全&lt;&gt;
[c]1、停车距离：题干中有“站/队”，30米内不得停车，其余都是50米内不得停车&lt;&gt;
[c]2、故障难以移动，警告牌位置：普通公路车后50-100米，高速公路车后150米以外&lt;&gt;
[c]3、夜间会车：150米以内要改成近光灯&lt;&gt;
[c]4、跟车距离：车速超过100km/h，车距大于100m；车速低于100km/h，车距适当缩短，不得少于50m&lt;&gt;
[c]5、雾天能见度—对应车速+跟车距离：能见度&lt;200m，车速&lt;60，跟车距离&gt;100m；能见度&lt;100m，车速&lt;40，跟车距离&gt;50m；能见度&lt;50m，车速&lt;20，从最近出口驶离高速&lt;&gt;
[i]处罚类题目&lt;&gt;
[c]1、被扣车的情况：汽车无牌、未贴合格/保险标志、没有行驶证、伪造证件、扣满12分上路&lt;&gt;
[c]2、未挂好车牌：警告&lt;&gt;
[c]3、伪造假冒车牌：收缴&lt;&gt;
[c]4、拘留15天：驾照被吊销/暂扣，交通事故逃逸但不构成犯罪&lt;&gt;
[c]5、吊销驾照：超速50%、非法改装车辆、驾驶报废车上路、无理由逾期不接受处理、把车借给无证人开&lt;&gt;
[c]6、有期徒刑：重大事故致人死亡/重伤，3年以下或拘役；交通肇事后逃逸/其他恶劣情节，3年-7年；因逃逸致人死亡，7年以上。&lt;&gt;</string>
</array>
</plist>
