<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>[t0]科目四考试内容及合格标准&lt;&gt;
[i]一、科目四考试：&lt;&gt;
[c]科目四考试即安全文明驾驶常识考试，在路考合格后进行。根据公安部123号令，实际上并未有科目四的说法，正式的名称为“安全文明驾驶常识考试”，因大部分学员以及驾校为区分科目三路考，习惯称之为科目四。&lt;&gt;
[i]二、科目四考试题库：&lt;&gt;
[c]1、目前最新的题库版本即为2018年1月版。&lt;&gt;
[c]2、考试题库为全国通用版本，不存在地方题。&lt;&gt;
[i]三、科目四考试内容：&lt;&gt;
[c]1、根据所考的驾照类型从相应的科目四考试题库中按比例抽取50道题进行答题，小车类驾照从800题中抽取，大车类驾照从1023题中抽取，每题2分。&lt;&gt;
[c]2、考试时间为45分钟，答题过程中错12分（6道题）即终止本场考试。&lt;&gt;
[c]3、考试题型分单选题（包括对错题）、多选题，前45题为单选题，最后5题为多选题。&lt;&gt;
[c]4、考试题目包括动画题、图片题、情景识别题、文字叙述题。&lt;&gt;
[i]四、科目四考试合格标准：&lt;&gt;
[c]90分合格。&lt;&gt;
[i]五、科目四考试补考说明：&lt;&gt;
[c]科目四未通过只需补考科目四，由驾校预约进行补考，不受补考次数限制，未通过可一直补考，科目四补考不需缴纳补考费用。&lt;&gt;
[i]六、科目四考试其他说明：&lt;&gt;
[c]1、考试完毕后一定要签定确认，不论是否合格与不合格！&lt;&gt;
[c]2、考生可进入驾考通科目四进行练习和模拟，对通过科目四非常有帮助！&lt;&gt;</string>
	<string>[t0]科目四考试预约 &lt;&gt;
[t1]科目四考试网上预约 驾驶员考试网&lt;&gt;
[t1]驾驶员考试网科目四考试预约，提供各省市最权威的官方驾校科目四考试预约页面，科目四考试预约信息更新及时而又全面，提供驾校科目四考试预约考试报名入口以及科目四考试相关信息，是您的考试预约好助手。&lt;&gt;
[t1]权威推荐的12123交管官网最新预约信息：&lt;&gt;
[i]2019年最新驾照考试网上预约流程与考试预约步骤：&lt;&gt;
[c]1.打开交通安全综合服务管理平台，网址：www.122.gov.cn，选择您所在的省市。&lt;&gt;
公安厅交通管理局互联网交通安全服务管理平台的考试预约官网是。&lt;&gt;
[c]2.选择考试预约&lt;&gt;
[c]3.点击立即注册&lt;&gt;
[c]4.填写用户信息填写您的身份证号码和报名登记时的手机号码（注意：如果手机号码已变更，请直接去车管所服务大厅更变）&lt;&gt;
[c]5.选择用户类型选择初次申领机动车驾驶证学员&lt;&gt;
[c]6.短信验证&lt;&gt;
[c]7.业务须知阅读并同意，点击“下一步”&lt;&gt;
[c]8.确认信息确认信息无误，点击“下一步”&lt;&gt;
[c]9.考试预约选择预约科目、考试场地、预约申请起止时间，输入图片验证码，点击“下一步”
[c]10.选择日期和场次系统提供两种预约模式：自主选择考试场次，服从系统安排考试。如果选择自主选择考试场次的模式，系统会显示用户选中的预约申请起止时间段内的所有的考试场次列表，用户可以选择某一场次或者多个场次进行预约，如果选择服从系统安排考试的模式，系统会在用户选中的预约申请起止时间段内的自动匹配符合条件的考试场次，选择完成后，点击“下一步”确认提交。&lt;&gt;
[c]11.确认提交再次确认信息，确认无误点击“完成”&lt;&gt;
[c]12.完成提交该步骤提交成功后，系统生成业务流水号，系统将在预约结果公示时间当天安排考试，并公布预约结果。&lt;&gt;
[c]点击查看更详细的考试预约步骤图文介绍&gt;&gt;&lt;&gt;
[t2]交警针对2019年最新科目四驾考预约规定的车管所官方解释与问答：&lt;&gt;
[t2]全新升级系统启用后，众多考生约考将更便捷，但是随之而来的也有很多疑问。根据考生提出的问题，交警支队车管所的工作人员进行了汇总和官方解答。&lt;&gt;
[i]问：所有的驾驶人考试都可以在互联网上预约吗？&lt;&gt;
[c]答：只有报考C1以上驾照，且在驾校报名学车的学员才可以。&lt;&gt;
[i]问：驾校报名之后，就可以在网上预约科目一考试吗？&lt;&gt;
[c]答：学员在驾校报名后，不能立即预约考试。在驾校需将学员信息提交由车管所受理后，方能预约科目一考试。&lt;&gt;
[i]问：考试不合格是否可以随时在互联网上预约补考？&lt;&gt;
[c]答：不可以，补考要在10天以后重新预约。&lt;&gt;
[i]问：如果预约失败怎么办？&lt;&gt;
[c]答：预约失败，可以在收到短信以后，再次预约&lt;&gt;
[i]问：各考试场地址、电话、场次相关说明在哪里？&lt;&gt;
[c]答：登录后，点击“考试计划”，页面三行文字说明中的最后一行，点击“说明”二字，全市的考试场情况均有详细介绍。&lt;&gt;
[i]问：网址不能正常登录怎么办？&lt;&gt;
[c]答：新系统试运行，会有类似发送不出验证码，打不开网址等情况，请耐心等待，车管所将在第一时间进行维护或通告。&lt;&gt;
[i]问：考试约错了如何处理？&lt;&gt;
[c]答：考试前要认真分辨考试代码，如果约错或有特殊情况不能参加考试的，需本人携带有效证件，在考试前至少一天前往车管所大厅取消考试预约。&lt;&gt;</string>
	<string>[t0]【驾考刷题】科目四5大重难点题详解，精华提炼。&lt;&gt;
[t1]科目四的理论知识考试，相比于科目一，题量少了但是增加了多选题，虽然考试难度不高，但是想要拿到满分还是有难度的。下面这些题目，堪称科目四5大重难点题目，看完一定要记住！&lt;&gt;
[i]题目1：机动车在泥泞路段后轮发生侧滑时，要将转向盘向侧滑的相反方向缓转修正。 &lt;&gt; 
[c]答案：X&lt;&gt;
[c]解析：前轮侧滑向侧滑相反方向转动转向盘。后轮侧滑向侧滑方向转动转向盘。&lt;&gt;

[i]题目2：车速较高前方发生紧急情况时，要先转方向避让，再采取制动减速，以减小碰撞损坏程度。 &lt;&gt;
[c]答案：X  &lt;&gt;
[c]解析：车速较高的情况下，若直接转向，很有可能发生侧翻。因此并不是降低损失和伤害。&lt;&gt; 

[i]题目3：大型客车、牵引车、城市公交车、中型客车、大型货车驾驶人应当每两年提交一次身体条件证明。&lt;&gt;  
[c]答案：X  &lt;&gt;
[c]解析：2013年1月1日起施行的公安部123号令，已明确规定，大、中型客货车驾驶人每年参加审验，审验时自己申报身体条件情况。&lt;&gt;

[i]题目4： 驾驶机动车在没有中心线的城市道路上，最高速度不能超过每小时50公里。&lt;&gt;  
[c]答案：X    &lt;&gt;
[c]解析：《道路交通安全法实施条例》第四十五条： 机动车在道路上行驶不得超过限速标志、标线标明的速度。在没有限速标志、标线的道路上，机动车不得超过下列最高行驶速度：(一)没有道路中心线的道路，城市道路为每小时30公里，公路为每小时40公里；(二)同方向只有1条机动车道的道路，城市道路为每小时50公里，公路为每小时70公里。&lt;&gt;

[i]题目5：驾驶人违反交通运输管理法规发生重大事故后，逃逸或者有其他特别恶劣情节的，处7年以上有期徒刑。  &lt;&gt;
[c]答案：X &lt;&gt;
[c]解析：交通运输肇事后逃逸或者有其他特别恶劣情节的，处三年以上七年以下有期徒刑；因逃逸致人死亡的，处七年以上有期徒刑。题中没有明确给出事故中是否有人伤亡，所以，不能轻易得出结论。&lt;&gt;
[c]怎么样，这些题目是不是一不小心就会选错呢？不过驾考通相信只要大家认真刷题，多多总结，在科目四的学习中一定可以顺利过关。&lt;&gt;</string>
	<string>[t0]科目四考试通关技巧，核心要点都在这，拿证就靠它了！&lt;&gt;
[t1]本期，驾考通为各位学员整理了这份科目四的通关技巧，关于安全文明驾驶常识的考核要点都在这里
科目四考试的主要考核内容就是安全文明驾驶常识，掌握各类情景下的驾驶注意事项，并且熟练掌握车辆使用的基本方法，就是通过科目四的制胜法宝。本期，驾考通就为各位学员整理了这份科目四的通关技巧，关于安全文明驾驶常识的考核要点都在这里。&lt;&gt;
[i]1、恶劣天气驾驶&lt;&gt;
[c]（1）恶劣天气行车，必须减速慢行；&lt;&gt;
[c]（2）视线受影响的恶劣天气下行车，必须按情况开启危险警示灯、近光灯和雾灯；&lt;&gt;
[c]（3）临时停车，必须开启危险警示灯；&lt;&gt;
[c]（4）恶劣天气在高速行驶，影响到能见度，按照261、145、520的法则行驶。&lt;&gt;
[c]解析：261：能见度小于200米，车速不得超过60km/h，跟车距离大于100米；&lt;&gt;
[c]145：能见度小于100米，车速不得超过40km/h，跟车距离大于50米；&lt;&gt;
[c]520：能见度小于50米，车速不得超过20km/h，跟车距离为0，即尽快驶离高速。&lt;&gt;
[i]2、交通标志、标线辨别&lt;&gt;
[c]（1）根据颜色判定标志的含义，红色禁止，黄色警告，蓝色指示；&lt;&gt;
[c]（2）记住特殊标线的含义，比如导向线、限速标线等，考核的比较多的标线是车道分界线、停车线；&lt;&gt;
[i]3、交通信号灯的含义&lt;&gt;
[c]（1）交通信号灯分三色红绿灯和指向红绿灯，看题需仔细；&lt;&gt;
[c]（2）只要没有右转红灯亮，在没有车辆、行人阻碍的时候都可以右转；&lt;&gt;
[c]（3）左转需要看信号灯（圆红灯亮或者左转红灯亮都不可以左转）；&lt;&gt;
[c]（4）黄灯闪烁分两种情况：一是红绿灯转换；二是注意观察，安全情况下可以慢速通过路口。&lt;&gt;
[i]4、交警手势的含义&lt;&gt;
[c]（1）交警面向哪，指挥的就是哪个方向的人；&lt;&gt;
[c]（2）辨析题目问的是交警手势的含义，还是你应该怎么做，当交警的面部不是朝向你的时候，这两个问题是有区别的。&lt;&gt;
[i]5、车辆灯光的使用&lt;&gt;
[c]（1）只要转向就要打转向灯；&lt;&gt;
[c]（2）除了夜间灯光照明不良的情况下，都不允许使用远光灯；&lt;&gt;
[i]6、其他注意事项&lt;&gt;
[c]（1）遇到执行公务的车辆，都要让行；&lt;&gt;
[c]（2）下坡车应该让上坡车先行，但是冰雪天气下例外，应该是上坡车让下坡车。&lt;&gt;
[t2]在刷题的同时，掌握了以上科目四必考知识点，想要通过科目四考试还是轻而易举的。&lt;&gt;</string>
	<string>[t0]科四通关要领，牢记关键词，满分捷径快又准！&lt;&gt;
[t1]驾考刷题只凭借关键字眼就选出判断题的正确答案来，准确率可以说在99%以上了。&lt;&gt;
[t2]从小编上学到现在，经历的大大小小考试不计其数，每次考试都能总结出一点经验。对科目四的判断题也有一些经验。今天，小编就教大家怎么只凭借关键字眼就选出判断题的正确答案来，准确率可以说在99%以上了。&lt;&gt;

[i]对的&lt;&gt;

[c]1、凡是出现不得、不准、不应、不能、禁止、应当这类的说法，基本都是对的；&lt;&gt;

[c]2、凡是让你礼让对方的基本都是对了，例如减速让行、停车让行、礼让通过等；&lt;&gt;

[c]3、凡是强调“慢” 的基本都是对的，例如减速、缓慢、逐渐、平稳等；&lt;&gt;

[c]4、凡是强调“观察”的基本都是对的，例如认真观察，仔细观察等；&lt;&gt;

[c]5、凡是强调“安全”的基本都是对的，例如保证安全、确保安全、安全通过等。&lt;&gt;

[i]错的&lt;&gt;

[c]1、凡是强调“快”的基本都是错的，例如加速通过、迅速通过等；&lt;&gt;

[c]2、凡是强调“可以”的基本都是错的，例如可以、只有、只要等。&lt;&gt;

[c]一般来说，科目四的判断题主要考量行车安全和出行文明，按照上面说的标准进行判断准确率会在99%以上哦，科四加油！&lt;&gt;</string>
	<string>[t0]最后一关科目四，送你一份满分通过宝典！&lt;&gt;
[t1]慢慢读题，仔细理解题意，拿下科目四指日可待。&lt;&gt;
        [t2]熬过了科目一，战胜了科目二，挺过了科目三，迎来了挂科率小高的科目四，很多人一次性过了前三科，却在最后一次科目四败下阵来，细数原因，还是粗心大意！根据过往学员的经验，一份满分通过宝典呼之欲出。&lt;&gt;
[i]1.通关技巧&lt;&gt;
[c]（1）考试题目：有50道考题，错一题扣两分，九十分及格。应对考试就是掌握范例考题，还有就是交通安全知识的储备。&lt;&gt;
[c]（2）由于考题随机出，因而在应试前需要多储备知识。&lt;&gt;
[c]（3）考前多练习模拟题，是一个更快速通过考试的办法，毕竟好多考题都是固定的。&lt;&gt;
[c]（4）科目四考题类型：有判断题，有单选题，还有多选题，在答题的时候需要注意方框的变化，圆点单选，方框多选。&lt;&gt;
[c]（5）考试过程：90分过关，每道题2分，所以一定要把错题控制在5题以内。&lt;&gt;
[i]2.满分通过科目四秘籍&lt;&gt;
[c]（1）科目四的考试和科目一有很多相同之处，但科目四更注重实际的驾驶经验。&lt;&gt;
[c]（2）所以必须多看题，多做题，多想一想如果自己真的碰到类似情况会怎么做?这样不但可以加深印象，对以后上路驾驶也是有好处的。&lt;&gt;
[c]（3）考试题目共50题，所以在做题的开始时就要慢慢读题，仔细理解题意，时间是足够的。&lt;&gt;
[c]（4）有些题是很容易错的，例如题目中出现“可以怎么做?”或“不可以怎么做?”相差一个字就会导致出现错误，所以看题时要逐字逐句看，不要太快，保证不错现不该出现的错误。&lt;&gt;
[c]（5）在考试中碰到拿不准的题目，可以模拟当时情景，看自己会怎么做就选那个。&lt;&gt;
[i]注意事项&lt;&gt;
[c]1.手机全部关机或者静音，有闹铃的一定要将闹铃取消，如在考试过程中有手机发出响声，将会按作弊处理，一律取消考试资格。&lt;&gt;
[c]2.由于在考试过程中需要抓拍三张照片，所以不允许带墨镜、口罩、帽子，或做其他能够挡住五官的动作，否则考试成绩作废。&lt;&gt;
[c]3.如有学员讲话或者是大声喧哗，将会影响到在考试的学员，驾管所的工作人员就会停止考试。&lt;&gt;
[c]4.当我们找到座位后千万不要急着点击开始考试，一定要再次核对电脑屏幕上的姓名和身份证信息，确认是自己的信息后，再点击开始考试。&lt;&gt;
[c]5.整场考试总计45分钟的一个时间限制，屏幕上有倒计时，最快也要15分钟之后才可以交卷，也就是当屏幕时间小于30分钟后，方可交卷。&lt;&gt;
[c]6.题目总数为50题，每题2分，90分算合格。只要没有点击下一题时，都是可以修改之前的选择。
[c]7.如有问题请举手，不可以大声喧哗，交头接耳。&lt;&gt;
[c]8.全部答完50道题之后点击交卷，会有一个会话窗口弹出提示你确认交卷的，需要你再次点击交卷的，不需要点击关闭，一定要记住！有两次点击交卷(交卷、确认交卷)。&lt;&gt;
[c]9.交卷离场后拿着你的复印件在小候考室等待签字，签字时一定要注意在学员一栏中签字，千万不要签到考官一栏中。&lt;&gt;</string>
	<string>[t0]科目四必考的应急处理题目！&lt;&gt;
[t1]科目四的这些题目不仅是考试，生活中也是一个必备技能哦！&lt;&gt;
 [t2]今天给大家讲一类科目四的必考题型——应急处理。&lt;&gt;
[t2]主要是给大家讲解一些发生紧急情况，我们该如何自救！&lt;&gt;
[t2]例如发生爆胎、刹车失灵、翻车等紧急情况时，我们应该怎么做。今天讲解的内容不仅能够帮助大家通过科目四的考试，更能使大家以后发生相应状况时，可以把损失降到最低。&lt;&gt;

[i]一、刹车失灵&lt;&gt;

 [c]先保持镇定，松开加速逐渐踏板，换低速挡，然后打开右转灯和威胁报警闪光灯，利用手刹停车。如果车速控制不了，可以冲撞路边护栏，但要注意的是避免侧面碰撞。&lt;&gt;

[i]二、爆胎&lt;&gt;

 [c]1、前轮爆胎：&lt;&gt;

[c]遇到这种情况应该轻踩制动踏板，双手握紧方向盘，避免头部承受伤害。&lt;&gt;

[c]2、后轮爆胎：&lt;&gt;

[c]遇到这种情况应该反复踩制动踏板，双手握紧方向盘，身体尽可能往前倾，避免后轮受力。&lt;&gt;

[i]三、高速公路发生故障&lt;&gt;

 [c]首先我们应该打开危险报警闪光灯，夜间还要开启示廓灯和后位灯，将车辆停放到不妨碍交通的地方。如果车辆难以移动，应该一直开启危险报警闪光灯，车上人员转移到路肩或应急车道内，并在车后150米外放置警标志。&lt;&gt;

[i]四、车辆落水&lt;&gt;

 [c]1、落水前：&lt;&gt;

[c]打开车窗玻璃或打开车门逃离。&lt;&gt;

[c]2、已经落水：&lt;&gt;

[c]因为水压的关系车门是无法打开的，正确的做法应该是等待车辆内部水位上升，然后再打开车窗玻璃或车门逃脱。&lt;&gt;

[i]五、现场急救&lt;&gt;

[c]先呼救（拨打急救电话和求助周围人员）再急救。先救人，再抢救财务；救人时，先止血再操作。车上人员被困在车里的时候，不要生拉硬拽，应该找工具把重物移开或切开，再将被困人员救出。&lt;&gt;</string>
	<string>[t0]科目四考试注意事项 科目四考前须知&lt;&gt;
　　[t1]科目四考试到底难不难?不同的人有不同的看法，我个人是觉得不会很难。今天我们来跟大家讲一讲考前须知的那些事。&lt;&gt;
　　[c]首先，我要强调的是考前的准备工作一定要仔细，很多人因为一些答题以外的问题导致考试不能通过，这是非常可惜的。&lt;&gt;
　　[c]1、遵守考场纪律。有人候考时喧哗，直接被赶出了考场，取消当天的考试资格。&lt;&gt;
　　[c]2、服从工作人员安排，有事举手，不懂就问考官，不要怕。有人指纹录不上不敢问，结果考官一生气直接让走人了。&lt;&gt;
　　[c]3、坐下后首先核对考生信息，发现与自己不符，要查看是不是自己的座位，如果不是应该再找自己的正确位置，如果座位正确，信息错误要立即报告。有人做了15个题发现不是自己的，结果两个人同时不合格。&lt;&gt;
　　[c]4、调整摄像头位置，对准自己脸部及胸部的上1/3处。有人对着头顶，考了100分也不合格。&lt;&gt;
　　[c]5、开始考试要尽快熟悉那个考试专用的小“键盘”，防止点错。尤其是动画题，太快。有个切换键会锁定系统，别点上了!&lt;&gt;
　　[t2]以上是有关于科目四考试考前必须要知道的一些事情，还有一点就是大家在考试的时候一定要调整好自己的心态，避免出现过度紧张导致出现失误的情况。&lt;&gt;</string>
	<string>[t0]科目四考试注意事项，考前再看一遍！&lt;&gt;
[i]一、科目四考前注意事项&lt;&gt;
[c]1、 调整摄像头位置，对准自己脸部及胸部的上1/3处。有人对着头顶，考了100分也不合格。&lt;&gt;
[c]2、开始考试要尽快熟悉那个考试专用的小“键盘”，防止点错。尤其是动画题，太快。有个切换键会锁定系统，别点上了！&lt;&gt;
[c]3、服从工作人员安排，有事举手，不懂就问考官，不要怕。有人指纹录不上不敢问，结果考官一生气直接让走人了。&lt;&gt;
[c]4、坐下后首先核对考生信息，发现与自己不符要查看是不是自己的座位，如果不是应该再找自己的正确位置。如果座位正确，信息错误要立即报告。&lt;&gt;
[c]5、遵守考场纪律。有人候考时喧哗，直接被赶出了考场，取消当天的考试资格。&lt;&gt;
[i]二、考试答题注意事项&lt;&gt;
[c]1、考试时间充裕，做题不要着急，检查之后再进行下一题，错误之后不能回头修改。如果要看动画，就不要先选答案。&lt;&gt;
[c]2、考试中确实会出现新题，但很少，而且无非就是那些内容，只要认真思考再选答案，肯定能过。&lt;&gt;
[c]3、在没有点击下一题之前，答案都是可以修改的，如果这道题有疑问，可以先空着，点击屏幕右上角其他未答的题目先做，后面再回来仔细研究这道题会节省时间！&lt;&gt;
[c]4、 答案顺序调整。有的人上来看是熟悉的题，直接选择，结果就会出错，因为答案的顺序可能会与模拟时不同。&lt;&gt;

[c]有一题是有几种违法行为，按正常应该是“一、二、三、四”的排，可是它却是“一、四、三、二”如果两种违法直接选B，铁定挂。&lt;&gt;

[c]5、 多选题防止漏选项，要一个一个条件的看，比如给定人数，要看是否超员；给出速度，要看是否超速；特别有一个给出A2照，驾驶大型卧铺，这是驾照与车型不符，特别容易搞错。看清楚，一个条件一个条件筛选。&lt;&gt;

[c]6、做题时要观察好关键词如“迅速”、“不正确的是”、“错误的是”、“可以”、“方可”、“仅可”、“首先”等，然后根据题意选择，千万别看走眼。&lt;&gt;

[c]7、答题完毕后点击交卷会弹出提醒你确认交卷的框，然后再次点击确认交卷，不需要点击关闭，一定要记住是点击两次，可千万别交不上卷呢！&lt;&gt;

[i]三、科目四多少分及格?&lt;&gt;

[c]科目四考试时间为45分钟，考题50道题，每题2分，一共100分，90分合格。也就是说45道题以上合格。屏幕上方是有倒计时的，把握好自己的时间，开考15分钟之后才可以交卷！离场后等待成绩单出来签字即可！&lt;&gt;</string>
</array>
</plist>
